@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <link href="~/lib/admin-lte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="~/lib/admin-lte/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" rel="stylesheet" />
}

<button id="testBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="gridSystemModal" data-url="@Url.Action("CreatePDoc")">
    磅單建立
</button>
<!--Create purchase model DOM-->
<div id="PurchaseModelDOM"></div>
@*@await Html.PartialAsync("~/Views/HOME/_CreatePurchaseDocPartial.cshtml")*@



<script src="~/lib/admin-lte/plugins/moment/moment-with-locales.js"></script>
<script src="~/lib/admin-lte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="~/lib/admin-lte/plugins/select2/js/select2.full.min.js"></script>
@*<script src="~/psi/create-purchase-doc.js"></script>*@

<script>
    
    $(function () {

        /* $('#reservationdatetime').datetimepicker({ icons: { time: 'far fa-clock' } });*/
        


        $('#testBtn').click(function (event) {
            //$('#reservationdatetime').on("change.datetimepicker", function (e) {
            //    console.log(e.date);
            //});
            //$('#reservationdatetime').datetimepicker("clear");
            //$('#reservationdatetime').datetimepicker("hide");
            //$('#reservationdatetime').datetimepicker('show');

            var purchaseModelDOM = $('#PurchaseModelDOM');
            var url = $(this).data('url');
            $.get(url).done(function (data) {
                purchaseModelDOM.html(data);
                


                /*Initialize Elements*/
                // Datetimepicker
                $('#reservationdatetime').datetimepicker({
                    defaultDate: moment(),
                    locale: 'zh-tw',
                    icons: { time: 'far fa-clock' }
                });
                // Select2 Elements
                $('.select2bs4').select2({
                    theme: 'bootstrap4'
                })

               

                purchaseModelDOM.find('.modal').modal('show');

                $('.select2bs4').on('change', function () {
                    /*$('li[name="abc"]').remove();*/
                    $('#testLs li').remove();
                    $.each($('.select2bs4').find(':selected'), function (key, value) {
                        $('#testLs').append('<li>' + $(this).val() + "_" + $(this).text() + '<i class="fas fa-minus-circle"></i><i class="fas fa-plus-circle"></i></li>');
                        /*var val = $.parseJSON(value);*/
                    })
                    //console.log($('.select2bs4:checked'));
                    //alert($(".select2bs4:checked").val());
                });
            })
        })





        //$('#reservationdatetime').on("change.datetimepicker", function (e) {
        //    console.log(e.date);
        //});

    })








</script>
<!--Create purchase doc model-->
@*<script src="~/psi/create-purchase-doc.js"></script>*@
