@model PageCustomer_GetCarNoInfoModel


<div class="modal" tabindex="-1" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@($@"{Model.ActionTypeName} - 車牌資訊")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="carNo-info-form" asp-area="SysConfig" asp-controller="CarNo" asp-action="@Model.FormActionName" method="post" autocomplete="off">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-control-label" for="ownername">
                                    車牌名稱
                                </label>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input asp-for="CarName" class="form-control" type="text">
                                    <span asp-validation-for="CarName" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-control-label" for="ownername">
                                    客戶名稱
                                </label>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <select asp-for="CustomerGUID" asp-items="@Model.CustomerInfoItems" style="width: 100%;">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        @*<div class="row">
                    <div class="col-md-3">
                        <label class="form-control-label" for="ownername">
                            選擇名稱
                        </label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input asp-for="CustomerName" class="form-control" type="text" placeholder="新客戶才需要填寫" readonly>
                        </div>
                    </div>
                </div>*@
                        <div class="row">
                            <label class="form-control-label" for="ownername">
                                備註:
                            </label>
                        </div>
                        <div class="row">
                            <div class="form-group col-12">
                                @*<label class="form-control-label" for="reasonforvisit">備註</label>*@
                                <textarea asp-for="Remark" class="form-control"></textarea>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="carno-info-action" class="btn btn-primary">@($@"{Model.ActionTypeName}完成")</button>
                </div>
                <div name="hidden-fields">
                    <input type="hidden" asp-for="CarGUID" />
                </div>
            </form>
        </div>
    </div>
</div>