@model VM_Customer_Info
@{
    <link href="~/lib/admin-lte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="~/lib/admin-lte/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/formhelper/formhelper.min.css" />
}

<form asp-area="SysConfig" asp-controller="Customer" asp-action="CreateCustomerInfo" method="post" autocomplete="off">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputEmail4">公司名稱</label>
            <input asp-for="CompanyName" class="form-control" type="text" placeholder="必填欄位">
        </div>
        <div class="form-group col-md-4">
            <label for="inputPassword4">統一編號</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
        <div class="form-group col-md-4">
            <label for="inputAddress">客戶名稱</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputCity">進出貨歸屬</label>
            <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-8">
            <label for="inputAddress2">職稱</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label for="inputZip">車牌維護</label>
            <button type="submit" class="btn btn-primary">新增車牌</button>
            <input type="text" class="form-control" id="inputZip">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label for="inputZip">合約資訊</label>
            <button type="submit" class="btn btn-primary">新增合約</button>
            <input type="text" class="form-control" id="inputZip">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="inputZip">聯絡方式</label>
            <input type="text" class="form-control" id="inputZip">
        </div>
        <div class="form-group col-md-9">
            <label for="inputZip">地址</label>
            <input type="text" class="form-control" id="inputZip">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputState">備註</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                Check me out
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>






<script src="~/lib/admin-lte/plugins/moment/moment-with-locales.js"></script>
<script src="~/lib/admin-lte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="~/lib/admin-lte/plugins/select2/js/select2.full.min.js"></script>

<script src="/formhelper/formhelper.bundle.min.js"></script>



<script>
    $(function () {
        /*Initialize Elements*/
        // Datetimepicker
        $('#reservationdatetime').datetimepicker({
            defaultDate: moment(),
            locale: 'zh-tw',
            icons: { time: 'far fa-clock' }
        });
        // Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })
        // Select2 Elements
        $('.select2bs5').select2({
            theme: 'bootstrap4',
            placeholder: "請選擇"
        })
        // Select2 Elements
        $('.select2bs6').select2({
            theme: 'bootstrap4',
            placeholder: "請選擇"
        })


        // Page Event Ini
        //IniPageEvent();
    })
</script>










