@model VM_Customer_Info
@{
    <link href="~/lib/admin-lte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="~/lib/admin-lte/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/formhelper/formhelper.min.css" />
}

<form asp-area="SysConfig" asp-controller="Customer" asp-action="CreateCustomerInfo" method="post" autocomplete="off">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="CompanyName">公司名稱</label>
            <input asp-for="CompanyName" type="text" class="form-control" placeholder="必填欄位">
        </div>
        <div class="form-group col-md-4">
            <label for="TaxId">統一編號</label>
            <input asp-for="TaxId" type="text" class="form-control" id="inputPassword4">
        </div>
        <div class="form-group col-md-4">
            <label for="CustomerName">客戶名稱</label>
            <input asp-for="CustomerName" type="text" class="form-control" placeholder="必填欄位">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="PsiType">進出貨歸屬</label>
            <select asp-for="PsiType" asp-items="@Model.PsiTypeItems" class="select2bs6 form-control" style="width: 100%;" data-placeholder="選擇品項">
            </select>
        </div>
        <div class="form-group col-md-8">
            <label for="Title">職稱</label>
            <input asp-for="Title" type="text" class="form-control">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="inputZip">車牌維護</label>
            <div class="input-group">
                <input id="haha" type="text" class="form-control" placeholder="車牌號碼">
                <button class="btn btn-outline-secondary" type="button" id="testBut">新增車牌</button>
            </div>
            <h6 id="carno-message">無相關車牌</h6>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-12">
            <ul id="selected-carno">
            </ul>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-6">
            <ul id="evenProductLs">
            </ul>
        </div>
        <div class="form-group col-sm-6">
            <ul id="oddProductLs">
            </ul>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <div class="input-group">
                <label for="inputZip">合約維護</label>
                <i class="fas fa-plus-circle" style="color:blue;cursor:pointer"> </i>
            </div>
            <h6 id="total"><span>無相關合約</span></h6>
            <ul>
                <li>合約1</li>
                <li>合約2</li>
                <li>合約3</li>
            </ul>

        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="inputZip">聯絡方式</label>
            <input type="text" class="form-control" id="inputZip">
        </div>
        <div class="form-group col-md-9">
            <label for="inputZip">地址</label>
            <input type="text" class="form-control" id="inputZip">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputState">備註</label>
            <input type="text" class="form-control">
        </div>
    </div>

    <button type="submit" class="btn btn-primary">建立</button>
</form>


@section modals{
    @await Html.PartialAsync("CustomerInfo", new List<VM_Customer_Info>())
}

@*@await Html.PartialAsync("~/Views/HOME/_CreatePurchaseDocPartial.cshtml")*@  <!-- 效能較差  但語法較單純 -->
@*@{await Html.RenderPartialAsync("CustomerInfo", new List<VM_Customer_Info>());}*@ <!-- 效能較好  但語法較複雜 一定要有{}  -->
@*<script src="~/lib/admin-lte/plugins/moment/moment-with-locales.js"></script>
    <script src="~/lib/admin-lte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/lib/admin-lte/plugins/select2/js/select2.full.min.js"></script>
    <script src="/formhelper/formhelper.bundle.min.js"></script>*@

@section scripts{
    <script src="~/psi/create-customer-info.js"></script>
    <script>
        $(function () {
            let pClass = new PageJsClass();
            $("#testBut").on("click", function () {
                pClass.CarNoList.AppendToList($('#haha').val());
                pClass.CarNoList.ShowCarNoList();
            });
        })
    </script>
}












